
<div class="site-footer">
    <div class="wrapper">

    <!-- <h3 class="footer-heading"> {{ site.title | escape }} </h3> -->

    <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
        {%- if site.email -%}
        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        {%- endif -%}
    </div>

    <div class="footer-col footer-col-2">
    {%- include social.html -%}
    </div>

    <div class="footer-col">
    {{- site.description | escape -}}
    </div>

    </div>
</div>